apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: monitoring-stack
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/woosungking/k8sBatchTest
    path: k8s/kube-prometheus-stack
    targetRevision: main
    helm:
      valueFiles:
        - values.yaml
        - custom-values.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
    syncOptions:
      - CreateNamespace=true
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: monitoring-mysql-exporter
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/woosungking/k8sBatchTest
    path: k8s/prometheus-mysql-exporter
    targetRevision: main
    helm:
      valueFiles:
        - values.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
    syncOptions:
      - CreateNamespace=true