apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: forever-dev-be
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/woosungking/k8sBatchTest
    path: k8s/mysql
    targetRevision: main 
    helm:
      valueFiles:
        - values.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
# 레포는 k8sBatchTest 레포를 바라보겠음.
